<!DOCTYPE html>
{% load static %}

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Videograph Template">
    <meta name="keywords" content="Videograph, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vaelsys | Cara De Moda</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
<!--    <div id="preloder">-->
<!--        <div class="loader"></div>-->
<!--    </div>-->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href=""><img src="{% static 'assets/img/modelface.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav__option">
                        <nav class="header__nav__menu mobile-menu">
                            <ul>
                                <li><a href="">Home</a></li>

                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option spad set-bg" data-setbg="{% static 'assets/img/calltos-bg.jpg' %}" style="background-image: url(&quot;{% static 'assets/img/calltos-bg.jpg' %}&quot;);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Ser o No Ser Modelo</h2>
                        <div class="breadcrumb__links">
                            <a href="#">Home</a>
<!--                            <span>About</span>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    {% block content %}



    {% endblock %}

    <!-- Portfolio Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="row">
                    <div class="col-lg-2 col-md-6">
                        <div class="footer__top__logo center">
                            <a href="#"><img src="{% static 'assets/img/modelface.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__social">

                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__option">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer__option__item">
                            <h5>Sobre La Aplicacion</h5>
                            <p>Esta aplicacion es la primer fase de nuestro aplicacion para decidir si una cara
                            se puede considerar un modelo o no .</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">

                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">

                    </div>

                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p class="footer__copyright__text">Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved | This mini app is created <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://github.com/irfanbykara" target="_blank">Irfan Baykara</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/mixitup.min.js' %}"></script>
    <script src="{% static 'assets/js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>